@import 'Variables.css';
table{
    font-size: 1.6rem;
    width: fit-content;
    margin: auto;
  }
table table{
  font-size:.6rem;
  line-height:1em;
}

  td{
    padding: 1rem;
    max-width: 30rem;
    word-break: break-all;
  }

  table .alert{
    background-color: hsl(var(--accent),var(--light));
    width:100%;
    height:100%;
  }
  .oddRow{
    background-color: hsl(var(--color-2),var(--lightest));
  }
  .evenRow{
    background-color: hsl(var(--color-3),var(--lightest));
  }
  
  .rowHeader{
    background-color: hsl(var(--color-1),var(--light));
  }

  .badge{
    font-size: 1rem;
    color:white;
    font-weight: bolder;
    background-color:hsl(var(--accent),var(--dark)); 
    border-radius: 1rem;
    padding: 0.1rem 1rem;
    word-break: keep-all;
  }
  

  .badge-container{
   
  }