:root {
    --color-1:211,60%;
    --color-2:50,20%;
    --color-3:179,15%;
    --color-4:22,20%;
    --color-5:243,15%;
    --accent:32,80%;

    --off-white:98%;
    --lightest:90%;
    --light:85%;
    --dark:50%;
    --darkest:20%;

    --box-shadow:10px 10px 30px 0px hsla(var(--color-5),var(--dark));
    --box-shadow-light:5px 5px 30px 0px hsla(var(--color-5),var(--light));


}