*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
  border: none;
}
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}
menu,
ol,
ul {
    padding-left: 0;
}
article ol,
article ul {
    list-style-position: inside;
}
html {
  font-size: 62.5%; 
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}
#root{
  width:100vw;
  height: 100vh;

}

.table{
  display:flex;
  justify-content: center;
  width:1200px;
  margin:auto;
  background-color: green;
}
.column{
  text-align: center;
}
.column h1{
  margin: 2rem;
}
.cell{
  font-size: 1.4rem;
  padding: 0 2rem;
}
.oddRow{
  background-color: dimgray;
}
.evenRow{
  background-color: lightgrey;
}